*:not(button) {
  color: white;
  text-align: center;
}
/*navbar*/
ul {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: rgb(30, 30, 30);
  border: 1px solid white;
  z-index: 2;
}
li {
  float: left;
  border-right: 1px solid white;
}
li a{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}
li a:hover:not(.current) {
  background-color: rgb(0, 0, 100);
}
.current {
  background-color: blue;
}
body {
  background-image: url(https://i.pinimg.com/736x/4b/af/2d/4baf2d48f65e51a0ec3d788e366e6b6c.jpg);
  background-size: cover;
  background-position: top,right;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
}
/*Different button classes/
seperated colors and font changes for shits n giggles n ease of use*/
.btnRound {
  border-radius: 12px;
}
.btnBlue {
  background-color: blue;
  color: white;
  border: 2px solid rgb(150, 150, 150);
}
.btnBlue:hover {background-color: rgb(0, 0, 100);}
.btnRed {
  background-color: red;
  color: white;
}
.btnRed:hover {background-color: rgb(100, 0, 0);}
.btnWhite {
  background-color: white;
  color: black;
}
.btnWhite:hover {background-color: rgb(160, 160, 160);}
.btnGrey {
  background-color: rgb(8, 8, 8);
  color: white;
}
.btnGrey:hover {background-color: rgb(30, 30, 30);}
.btnLarge {
  font-weight: bold;
  font-size: 25px;
  height: 50px;
  width: 100%;
}
.btnCenter {
  font-weight: bold;
  font-size: xx-large;
  height: 200px;
  width: 500px;
}
/*hover functionality*/
.button {
  transition-duration: 0.3s;
  cursor: pointer;
}
.rotate {
  animation: rotate 60s linear;
  -webkit-animation: rotate 60s linear;
}
.expand {
  animation: expand 60s linear;
  -webkit-animation: expand 60s linear;
}
@keyframes rotate {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
@-webkit-keyframes rotate {
  from{-webkit-transform: rotate(0deg);}
  to{-webkit-transform: rotate(360deg);}
}
@keyframes expand {
  from {transform: scale(0);}
  to {transform: scale(1);}
}
@-webkit-keyframes expand {
  from {-webkit-transform: scale(0);}
  to {-webkit-transform: scale(1);}
}